footer, .footer {
	padding-top: $padding--small;
	padding-bottom: $padding--general;
	background-color: $color--black-tone;
	& p {
		font-size: 0.8rem;
		color: rgba(255,255,255,0.5);
		margin-bottom: 0;
	}
}